<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>SL COUPON</title>
    
        <!-- Custom fonts for this template-->
        <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        
        <link href="css/main.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
        <script src="js/jquery-3.5.1.min.js"></script>
        
        <!-- <script src="js/angular.js"></script> -->
        <script src="js/vuew.js"></script>
        <script type="text/javascript" src="/eel.js"></script>   
        <script type="module" src="js/main.js"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>   
        <!-- <script src="js/main.js"></script> -->
        <script type="text/javascript">
            </script>
    </head>
 <!-- Page Wrapper -->
    <div id="app" v-on:keyup.17="whatkey()" v-on:keyup.16="whatkeys()" v-on:keyup.117 ="printkey()" v-on:keyup.119 ="resetkey()">  
        <!-- Content Wrapper -->
        
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Advance Draw</h4>
                </div>
                <div class="modal-body">
                    <form>                        
                        <div v-for = "draws in draw">   
                              <li class="limit-update-btn"> <button type="button"   class="btn" id="button-name">          <input type="checkbox" :value="draws"  v-model="advdraw">{{draws}}</button>

                        </div>
                    </form>
                    
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
          <div class="modal fade" id="result" role="dialog">
            <div class="modal-dialog" style="max-width: 80%;" role="document">            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">result</h4>
                </div>
                <div class="modal-body">
                    <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                    width="100%">                        <tr>
                          <th scope="col"> Draw Time</th>
                          <th scope="col">Result</th>
                        </tr>
                        <tr v-for="field in puraresult['data']">
                            <td v-if ="field['Draw_time'].slice(0,2) - 12 > 0 ">{{"0"+field['Draw_time'].slice(0,2) - 12 + field['Draw_time'].slice(2,)+ " PM"}}</td>
                            <td v-if ="field['Draw_time'].slice(0,2) - 12 === 0 ">{{"12"+field['Draw_time'].slice(2,)+ " PM"}}</td>
                            <td v-if ="field['Draw_time'].slice(0,2) - 12 < 0 ">{{field['Draw_time'] + " AM"}}</td>

                            <div>
                            <td v-for="d in field['result']" v-if="d.slice(0,1)===current.toString()">{{d}}</td>
                        </div>
                            <!-- <td>Maria Anders</td> -->
                        </tr>
                      </table>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
        
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
               
                <!-- Topbar -->
                <nav class="navbar navbar-expand bg-white">

                    <div class="top-header-section justify-content-start">
                        <!-- logo -->
                        <div class="logo">
                            <img src="img/logo.jpg" alt="">
                        </div>
                        <div class="sl-coupon">
                            <h1 class="rounded-top">SL COUPON</h1>
                            <P class="rounded-bottom">{{ lastresult}}</P>
                            <p class="version-div">
                                Version <span>1.55</span>
                            </p>
                        </div>
                        <div class="header-right">
                            <div class="header-top">
                            </div>
                            <div >
                              
                                  <ul class="header-number  flex-div justify-content-center">
                                
                                  
                                    <li v-for="item in result">
                                        {{ item }}
                                      </li>
                                    
                                </ul>
                            </div>
                           
                        </div>

                    </div>
                    <div class="header-bottom flex-div flex-row justify-content-start">
                        <div class="code">
                            <h2>
                                100666
                            </h2>
                        </div>
                        <div class="header-navigation">
                            <div class="main-nav">
                                <ul class="flex-div justify-content-center">
                                    <li>  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#result">Result</button>
                                        
                                    <li><a href="#">Account</a></li>
                                    <li><a href="#">Reprint</a></li>
                                    <li><a href="#">Cancel</a></li>
                                    <li><a href="#">Password</a></li>
                                    <li><a href="#">Complaint</a></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </div>
                            <div class="draw-details">
                                <ul class="flex-div justify-content-around">
                                    <li>Time To Drow.
                                        <span class="large-text" id="countdown">        {{counter}}
                                        </span>
                                    </li>
                                    <li>Dr. Time
                                        <span class="large-text" id="countdown" > {{ articleId}}</span>                                </li>
                                    <li>Draw Name
                                        <span> Jackpot Online Lottery </span>
                                    </li>
                                    <li>Dr. Date
                                        <span>{{datestamp}}</span>
                                    </li>
                                    <li class="limit-update-btn"> <button type="button" class="btn" id="button-name">Limit Update</button>
                                        <span>{{total_amount}}</span>
                                    </li>
                                    <li>Last Tr. No.
                                        <span>TCNGYM0258</span>
                                    </li>
                                    <li>Last Sale Amt.
                                        <span>10 </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>




                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid mrg-15 ">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 no-padding">
                            <div class="card ">
                                <!-- hold weekly coupon -->
                                <div
                                    class="d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold hold-weekly-coupon-div">Hold Weekly
                                        Coupon</h6>
                                    <div class="dropdown no-arrow">

                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- SM: this is bootstrap 4 tabbed panel -->
                                    <ul class="nav nav-tabs flex-div justify-content-between"  id="nav-tab">
                                        <li class="nav-item"><a class="nav-link " href="#high">HIGH</a></li>
                                        <li class="nav-item active"><a class="nav-link " href="#low">LOW</a></li>
                                     
                                      </ul>
                                    
                                      <!-- Tab panes -->
                                      <div class="">
                                        <div class="tab-pane " id="high">
                                          <h4>...</h4> 
                                       </div> 
                                        
                                          <div class="tab-pane active" id="low">
                                          <div>
                                              <div class="top-button flex-div justify-content-between text-align-center">
                                                  <button type="button" class="btn">Page Up</button>
                                                  <button type="button" class="btn">Page Down</button>
                                              </div>
                                              <div class="coupon-number">
                                                  <div class="row pl-3">
                                                      <div class="col-6 coupon-num-label flex-div flex-column px-0">
                                                          <form action="" id="myDIV">
                                                            <div class="" role="group" id="toolBtns">
                                                                <button v-for="(btn, index) in buttons" type="button"  div :class="{ red : true }" v-bind:id="btn.name"
                                                                            @click="toggleActiveClass(index)"
                                                                           :class="{active: btn.active1}">{{btn.name}}{{current*1000+btn.val}}-{{btn.name}}{{parseInt(current*1000)+99+btn.val}}
                                                                </button>
                                                              </div>
                                                              
                                                          </form>
                                                      </div>
                                                      <div class="col-6 pl-0">
                                                          <form class="pt-checkbox-div">
                                                           
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-1" value="000" v-model="checkedNames" >
                                                                  <label for="pt2-1"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-2" value="100" v-model="checkedNames" >
                                                                  <label for="pt2-2"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-3" value="200" v-model="checkedNames" >
                                                                  <label for="pt2-3"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-4" value="300" v-model="checkedNames">
                                                                  <label for="pt2-4"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-5" value="400" v-model="checkedNames" >
                                                                  <label for="pt2-5"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-6" value="500" v-model="checkedNames" >
                                                                  <label for="pt2-6"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-7" value="600" v-model="checkedNames">
                                                                  <label for="pt2-7"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-8" value="700" v-model="checkedNames">
                                                                  <label for="pt2-8"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-9" value="800" v-model="checkedNames">
                                                                  <label for="pt2-9"> (pt2)</label>
                                                              </div>
                                                              <div class="form-control">
                                                                  <input type="checkbox" id="pt2-10" value="900" v-model="checkedNames">
                                                                  <label for="pt2-10"> (pt2)</label>
                                                              </div>
                                                            </form>
                                                      </div>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                 
                                      
                                      </div>
                             
                                
                             
                                </div>
                            </div>
                        </div>
                        <!-- Area Chart -->
                        <div class="col-xl-7 col-lg-7 no-padding">
                            <div class="card">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header flex-row align-items-center justify-content-between">                                 
                                   <div class="point-transfer-div">
                                       <div class="point-transfer-header flex-div flex-row">
                                        <div class="point-transter-btn">
                                            <button>Point Transfer</button>
                                        </div>
                                        <div class="dynamic-coupon-tab">
                                            <ul id="dynamic-ul">
                                                <li class="dyn-li active-dy" id="A1" v-on:click="button_click('1')">A1000-A1099</li>
                                                <li class="dyn-li" id="A3" v-on:click="button_click('3')"> A3000-A3099</li>
                                                <li class="dyn-li" id="A5" v-on:click="button_click('5')">A5000-A5099</li>
                                                <li class="dyn-li">All Series</li>
                                                <li class="dyn-li" >A6000-A6099</li>
                                                <li class="dyn-li" >A7000-A7099</li>
                                                <li class="dyn-li">A8000-A8099</li>
                                                <li class="dyn-li">A9000-A9099</li>
                                            </ul>
                                        </div>
                                       </div>
                                       <div class="dynamic-coupon-table-div flex-div flex-row">
                                           <div class="flex-div flex-row">
                                           
                                           <div class="point-trans-type">
                                            <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" id="select-al" id="checkbox" v-model="checked"><span>All</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" id="pt-2" value='true' v-model='checked_poin' name=""><span>(Pt 2)</span> 
                                              </div>
                                              <div class="checkboxflex-div flex-row">
                                                <input type="checkbox" id="pt-4" value="pt-4" name=""><span>(Pt 4)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" id="pt-6" value="pt-6" name=""><span>(Pt 6)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" id="pt-15" value="pt-15" name=""><span>(Pt 15)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" id="pt-30" value="pt-30" name=""><span>(Pt 30)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" id="pt-60" value="pt-60" name=""><span>(Pt 60)</span> 
                                              </div>

                                           </div>
                                           <div class="point-trans-block">
                                                
                                        </div>
                                       </div>
                                       <div class="dynamic-coupon-table" >
                                        <table >
                                            <tr class="table-block">
                                                <td style='font-weight:bold;'>
                                                    
                                                    Block
                                                </td>
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable,newvariable+9)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input @focus="$event.target.select()" v-on:blur="handleBlur" v-bind:id="'list-'+field" @focus="magic_flag = true"
  @blur="magic_flag = false"v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+10,newvariable+20-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input  v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+20,newvariable+30-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+30,newvariable+40-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+40,newvariable+50-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+50,newvariable+60-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+60,newvariable+70-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+70,newvariable+80-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                                
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+80,newvariable+90-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td v-for="field in range(newvariable+90,newvariable+100-1)">
                                                    <label for="">{{currentbutton}}{{field}}</label>
                                                    <input v-on:blur="handleBlur" v-bind:id="'list-'+field" v-on:keyup.right ="nextright(field)" v-on:keyup.left ="nextleft(field)" v-on:keyup.down ="nextdown(field)" v-on:keyup.up ="nextup(field)" class="form-control"  type="text"v-model="values[field]" />
                                                </td>
                                            </tr>
                                        </table>
                                       </div>
                                    </div>
                                   </div>
                                </div>
                            
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-2 col-lg-2 no-padding">
                            <div class="card">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header flex-row align-items-center justify-content-between">
                                

                                      <div class="row all-type no-margin">
                                        <div class="col-md-4">
                                            <input type="checkbox" id="all" name="all" >
                                            <label for="all"> All</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="even" name="even" >
                                            <label for="even"> Even</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="odd" name="odd" >
                                            <label for="odd">Odd</label>
                                        </div>
                                    </div>    
                                    <div class="row fp-group-div flex-div flex-row no-margin">
                                        <div class="checkbox-div flex-div justify-content-around">
                                            <input type="checkbox" id="fp-group" name="fp-group" >
                                            <label for="fp-group"> FP Group</label>
                                        </div>
                                        <div class="show-btn-div">
                                            <button type="button" class="" id = "get_result"v-on:click='resulte()'>Show Result</button>
                                        </div>
                                      
                                    </div>   
                                    <div class="row fp-group-count no-margin">
                                        <div class="col-md-4">
                                            <ul class="count-box flex-div flex-column">
                                                <li v-for="item in result">
                                                    {{ item.toString().slice(2) }}
                                                  </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="green-box">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="yellow-box">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                </ul> 
                                        </div>
                                        </div>                                  
                                
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                                                  </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">

                <div action="" class="flex-div justify-content-start">
                    <div class="print-div">
                        <button type="button" class="btn" v-on:click='printkey'>F6 Print</button>
                    </div>
                    <div class="print-reset">
                        <button type="button" class="btn" v-on:click='resetkey'>F8 Reset</button>
                    </div>
                    <div class="barcode-label">
                        <label class="">Transaction No./Barcode</label>
                    </div>
                    <div class="barcode-text" >
                        <input type="search" v-on:keyup.13="claimd()" v-model="barcode">
                    </div>
                    <div class="claim-div">
                        <button type="button" class="btn"v-on:click='claimd'>Claim</button>
                    </div>
                    <div class="advance-draw">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Advance Draw</button>
                    </div>
                    <div class="result-label">
                        <label class="">Result</label>
                    </div>
                    <div class="final-output">
                        <label class="">0</label>
                    </div>
                    <div class="final-output">
                        <label class="">{{t_char}}</label>
                    </div>
                </div>

            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->





    <!-- Bootstrap core JavaScript-->
    
  
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/vuew.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>
    

    <script>
   
    </script>
  </body>

</html>