<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>SL COUPON</title>
    
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/main.js"></script>
        
        
    </head>
 <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand bg-white">

                    <div class="top-header-section justify-content-start">
                        <!-- logo -->
                        <div class="logo">
                            <img src="img/logo.jpg" alt="">
                        </div>
                        <div class="sl-coupon">
                            <h1 class="rounded-top">SL COUPON</h1>
                            <P class="rounded-bottom">01:30:02</P>
                            <p class="version-div">
                                Version <span>1.25</span>
                            </p>
                        </div>
                        <div class="header-right">
                            <div class="header-top">
                            </div>
                            <div id="app">
                              {{ message }}
                            </div>
                            <ul class="header-number  flex-div justify-content-center">
                                <li>A1068</li>
                                <li>B1137</li>
                                <li>C1289</li>
                                <li>D1008</li>
                                <li>E1461</li>
                                <li>F1873</li>
                                <li>G1898</li>
                                <li>H1755</li>
                                <li>I1431</li>
                                <li>J1901</li>

                            </ul>
                        </div>

                    </div>
                    <div class="header-bottom flex-div flex-row justify-content-start">
                        <div class="code">
                            <h2>
                                100666
                            </h2>
                        </div>
                        <div class="header-navigation">
                            <div class="main-nav">
                                <ul class="flex-div justify-content-center">
                                    <li><a href="#">Result </a></li>
                                    <li><a href="#">Account</a></li>
                                    <li><a href="#">Reprint</a></li>
                                    <li><a href="#">Cancel</a></li>
                                    <li><a href="#">Password</a></li>
                                    <li><a href="#">Complaint</a></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </div>
                            <div class="draw-details">
                                <ul class="flex-div justify-content-around">
                                    <li>Time To Drow.
                                        <span class="large-text">00:10:52 </span>
                                    </li>
                                    <li>Dr. Time
                                        <span>01:45:02</span>
                                    </li>
                                    <li>Time To Drow.
                                        <span>00:10:52 </span>
                                    </li>
                                    <li>Dr. Date
                                        <span>2021:02:11</span>
                                    </li>
                                    <a class="active" id="button-name">Display name</a>
                                    <li class="limit-update-btn"> <button class="btn" id="button-name">Limit Update</button>
                                        <span>20405.9 </span>
                                    </li>
                                    <li>Last Tr. No.
                                        <span>TCNGYM0258</span>
                                    </li>
                                    <li>Last Sale Amt.
                                        <span>10 </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>




                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid no-padding mrg-15">




                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <div class="card  mb-4">
                                <!-- hold weekly coupon -->
                                <div
                                    class="d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold hold-weekly-coupon-div">Hold Weekly
                                        Coupon</h6>
                                    <div class="dropdown no-arrow">

                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- SM: this is bootstrap 4 tabbed panel -->

                                    <ul class="nav nav-tabs flex-div justify-content-between" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link " id="home-tab" data-toggle="tab" href="#"
                                                role="tab" aria-controls="home" aria-selected="true">HIGH</a>
                                        </li>
                                        <li class="nav-item " >
                                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#low"
                                                role="tab" aria-controls="profile" aria-selected="false">LOW</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade  " id="high" role="tabpanel"
                                            aria-labelledby="home-tab">...</div>
                                        <div class="tab-pane fade show active" id="low" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                            <form action="">
                                                <div class="top-button flex-div justify-content-between text-align-center">
                                                    <button class="btn">Page Up</button>
                                                    <button class="btn">Page Down</button>
                                                </div>
                                                <div class="coupon-number">
                                                    <div class="row pl-3">
                                                        <div class="col-6 coupon-num-label flex-div flex-column px-0">
                                                            <form action="">
                                                                <label for="">A1000-A1099</label>
                                                                <label for="">B1100-B1199</label>
                                                                <label for="">C1200-C1299</label>
                                                                <label for="">D1300-D1399</label>
                                                                <label for="">E1400-E1499</label>
                                                                <label for="">F1500-F1599</label>
                                                                <label for="">G1600-G1699</label>
                                                                <label for="">H1700-H1799</label>
                                                                <label for="">I1800-I1899</label>
                                                                <label for="">J1900-J1999</label>
                                                            </form>
                                                        </div>
                                                        <div class="col-6 pl-0">
                                                            <form action="" class="pt-checkbox-div">
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" id="pt2-1" name="pt2-1" >
                                                                    <label for="pt2-1"> (pt2)</label>
                                                                </div>
                                                               

                                                              </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                   
                             
                                </div>
                            </div>
                        </div>
                        <!-- Area Chart -->
                        <div class="col-xl-7 col-lg-7">
                            <div class="card  mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header flex-row align-items-center justify-content-between">                                 
                                   <div class="point-transfer-div">
                                       <div class="point-transfer-header flex-div flex-row">
                                        <div class="point-transter-btn">
                                            <button>Point Transfer</button>
                                        </div>
                                        <div class="dynamic-coupon-tab">
                                            <ul>
                                                <li class="active-dy">A1000-A1099</li>
                                                <li>A3000-A3099</li>
                                                <li>A5000-A5099</li>
                                                <li>All Series</li>
                                                <li>A6000-A6099</li>
                                                <li>A7000-A7099</li>
                                                <li>A8000-A8099</li>
                                                <li>A9000-A9099</li>
                                            </ul>
                                        </div>
                                       </div>
                                       <div class="dynamic-coupon-table-div flex-div flex-row">
                                           <div class="flex-div flex-row">
                                           
                                           <div class="point-trans-type">
                                            <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" value=""><span>All</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" value=""><span>(Pt 2)</span> 
                                              </div>
                                              <div class="checkboxflex-div flex-row">
                                                <input type="checkbox" value=""><span>(Pt 4)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" value=""><span>(Pt 6)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" value=""><span>(Pt 15)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" value=""><span>(Pt 30)</span> 
                                              </div>
                                              <div class="checkbox flex-div flex-row">
                                                <input type="checkbox" value=""><span>(Pt 60)</span> 
                                              </div>

                                           </div>
                                           <div class="point-trans-block">
                                                <h5>block</h5> 
                                                <ul>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ul>
                                        </div>
                                       </div>
                                       <div class="dynamic-coupon-table">
                                        <table >
                                            <tr class="table-block">
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                                <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td> <td>
                                                    <label for="">A1000</label>
                                                    <input type="text" name="" value="">
                                                </td>
                                            </tr>
                                        </table>
                                       </div>
                                    </div>
                                   </div>
                                </div>
                            
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="card  mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-0 flex-row align-items-center justify-content-between">
                                

                                      <div class="row all-type">
                                        <div class="col-md-4">
                                            <input type="checkbox" id="all" name="all" >
                                            <label for="all"> All</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="even" name="even" >
                                            <label for="even"> Even</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="odd" name="odd" >
                                            <label for="odd">Odd</label>
                                        </div>
                                    </div>    
                                    <div class="row fp-group-div flex-div flex-row">
                                        <div class="checkbox-div flex-div justify-content-around">
                                            <input type="checkbox" id="fp-group" name="fp-group" >
                                            <label for="fp-group"> FP Group</label>
                                        </div>
                                        <div class="show-btn-div">
                                            <button class="">Show Result</button>
                                        </div>
                                      
                                    </div>   
                                    <div class="row fp-group-count">
                                        <div class="col-md-4">
                                            <ul class="count-box flex-div flex-column">
                                                <li>68</li>
                                                <li>37</li>
                                                <li>89</li>
                                                <li>02</li>
                                                <li>41</li>
                                                <li>87</li>
                                                <li>38</li>
                                                <li>55</li>
                                                <li>30</li>
                                                <li>89</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="green-box">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="yellow-box">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                </ul> 
                                        </div>
                                        </div>                                  
                                
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                  
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">

                <form action="" class="flex-div justify-content-start">
                    <div class="print-div">
                        <button class="btn">F6 Print</button>
                    </div>
                    <div class="print-reset">
                        <button class="btn">F8 Reset</button>
                    </div>
                    <div class="barcode-label">
                        <label class="">Transaction No./Barcode</label>
                    </div>
                    <div class="barcode-text">
                        <input type="text" placeholder="" class="">
                    </div>
                    <div class="claim-div">
                        <button class="btn">Claim</button>
                    </div>
                    <div class="advance-draw">
                        <button class="btn">Advance Draw</button>
                    </div>
                    <div class="result-label">
                        <label class="">Result</label>
                    </div>
                    <div class="final-output">
                        <label class="">0</label>
                    </div>
                    <div class="final-output">
                        <label class="">0</label>
                    </div>
                </form>

            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->





    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/vuew.js"></script>
    <script src="js/vue.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script type='text/javascript' src='http://localhost:8686/eel.js'></script> <script type='text/javascript' >eel._host="http://localhost:8686"</script> <title>App Name</title> 

    <script src="js/main.js"></script>
</body>

</html>