<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>SL COUPON</title>
    
        <!-- Custom fonts for this template-->
        <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        
        <link href="css/main.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
        <script src="js/jquery-3.5.1.min.js"></script>
        
        <!-- <script src="js/angular.js"></script> -->
        <script src="js/vuew.js"></script>
        <script type="text/javascript" src="/eel.js"></script>   
        <script type="module" src="js/main.js"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>   
        <!-- <script src="js/main.js"></script> -->
        <script type="text/javascript">
            </script>
            <style>
                #customers {
                  font-family: Arial, Helvetica, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }
                
                #customers td, #customers th {
                  border: 1px solid #ddd;
                  padding: 8px;
                }
                
                #customers tr:nth-child(even){background-color: #f2f2f2;}
                
                #customers tr:hover {background-color: #ddd;}
                
                #customers th {
                  padding-top: 12px;
                  padding-bottom: 12px;
                  text-align: left;
                  background-color: #4CAF50;
                  color: white;
                }
                </style>
    </head>
 <!-- Page Wrapper -->
    <div id="app" v-on:keyup.17="whatkey()" v-on:keyup.16="whatkeys()" v-on:keyup.117 ="printkey()" v-on:keyup.119 ="resetkey()">  
        <li class="dyn-li" id="A3" v-on:click="fullresults"> refresh</li>
        <table id="customers">
            <tr>
              <th>Draw Time</th>
              <th>Result</th>
            </tr>
            <tr v-for="field in fullresult">
                <td>{{field['Draw_time']}}</td>
                <td>{{field['result']}}</td>
                <!-- <td>Maria Anders</td> -->
            </tr>
          </table>
    </div>
    <!-- End of Page Wrapper -->





    <!-- Bootstrap core JavaScript-->
    
  
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/vuew.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>
    

    <script>
   
    </script>
  </body>

</html>